.container-list-movie {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  justify-content: space-around;
  gap: 65px;
}
h1 {
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
  padding: 50px;
  font-size: 65px;
  margin-top: 6px;
}

